

<div class="page" data-name="about">

  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link icon-only panel-toggle" data-panel=".panel-left">
          <i class="icon material-icons">menu</i>
        </a>
      </div>
      <div class="title" data-localize="about.title">About CalcUrCal</div>
      <div class="right"></div>
    </div>
  </div>

  <div class="page-content">
    <div class="block">
      <p data-localize="about.p0">CalcUrCal.</p>
      <p data-localize="about.p1"></p>
      <p data-localize="about.p2"></p>
    </div>
  </div>
</div>